
body {
    margin: 5em;
    margin-top: 10em;
    background-color: rgb(112, 111, 111);
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

button {
   font-size: 39px;
   padding: 1.5em;
   border-radius: 15px;
}